@import 'tailwindcss';

@custom-variant hover (&:hover);

@theme {
  --breakpoint-xs: 376px;

  --font-inter: 'Inter', 'sans-serif';
  --font-roboto: 'Roboto', 'sans-serif';
  --font-russisch: 'RussischSans', 'sans-serif';

  @keyframes wave {
    0% {
      background-size: 400% 400%;
      background-position: left;
    }
    100% {
      background-size: 400% 400%;
      background-position: right;
    }
  }
  --animate-wave: wave 5s alternate ease-in-out infinite;

  @keyframes bouncy {
    0% {
      transform: translateY(15%);
    }
    100% {
      transform: translateY(-15%);
    }
  }
  --animate-bouncy: bouncy 800ms alternate ease-out infinite;
}

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/RobotoMono.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'RussischSans';
    src: url('/assets/fonts/RussischSans-Regular.ttf');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'RussischSans';
    src: url('/assets/fonts/RussischSans-Medium.ttf');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'RussischSans';
    src: url('/assets/fonts/RussischSans-SemiBold.ttf');
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'RussischSans';
    src: url('/assets/fonts/RussischSans-Bold.ttf');
    font-weight: 700;
    font-display: swap;
  }

  html {
    scroll-behavior: smooth;
  }

  section {
    scroll-margin-top: 8rem;
  }
}

body {
  background-image: radial-gradient(
    circle,
    #000000,
    #070307,
    #0a080f,
    #070e16,
    #021319
  );
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(90ch, calc(100% - 48px)) 1fr;
  column-gap: 24px;
  justify-content: center;
}

.wrapper > * {
  grid-column: 2;
}

@media (max-width: 639px) {
  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }
}
