@import 'tailwindcss';

@custom-variant hover (&:hover);

@theme {
  --breakpoint-xs: 376px;

  --font-dmsans: 'DMSans-VariableFont', 'sans-serif';
  --font-roboto: 'Roboto', 'sans-serif';

  --color-green-650: oklch(57.465% 0.17274 146.599);

  --animate-wave: wave 5s alternate ease-in-out infinite;
  --animate-bouncy: bouncy 800ms alternate ease-out infinite;

  @keyframes wave {
    0% {
      background-size: 400% 400%;
      background-position: left;
    }
    100% {
      background-size: 400% 400%;
      background-position: right;
    }
  }

  @keyframes bouncy {
    0% {
      transform: translateY(15%);
    }
    100% {
      transform: translateY(-15%);
    }
  }
}

@layer base {
  @font-face {
    font-family: 'DMSans-VariableFont';
    src: url('/assets/fonts/DMSans-VariableFont.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/RobotoMono.ttf');
    font-display: swap;
  }

  html {
    scroll-behavior: smooth;
  }

  section {
    scroll-margin-top: 8rem;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(75ch, calc(100% - 48px)) 1fr;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
}

.wrapper > * {
  grid-column: 2;
}

@media (max-width: 639px) {
  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }
}

.gradient-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gradient-sphere {
  position: fixed;
  border-radius: 50%;
  filter: blur(60px);
}

.sphere-1 {
  width: 40vw;
  height: 40vw;
  background: linear-gradient(
    40deg,
    rgba(159, 0, 79, 0.8),
    rgba(212, 85, 0, 0.4)
  );
  top: -10%;
  left: -10%;
  animation: float-1 12s ease-in-out infinite alternate;
}

.sphere-2 {
  width: 45vw;
  height: 45vw;
  background: linear-gradient(
    240deg,
    rgba(55, 0, 193, 0.8),
    rgba(0, 146, 204, 0.4)
  );
  bottom: -20%;
  right: -10%;
  animation: float-2 16s ease-in-out infinite alternate;
}

.sphere-3 {
  width: 30vw;
  height: 30vw;
  background: linear-gradient(
    120deg,
    rgba(133, 89, 255, 0.5),
    rgba(98, 216, 249, 0.3)
  );
  top: 60%;
  left: 20%;
  animation: float-3 20s ease-in-out infinite alternate;
}

@keyframes float-1 {
  to {
    transform: translate(10%, 10%) scale(1.1);
  }
}

@keyframes float-2 {
  to {
    transform: translate(-10%, -5%) scale(1.15);
  }
}

@keyframes float-3 {
  from {
    opacity: 0.3;
  }
  to {
    transform: translate(-5%, 10%) scale(1.05);
    opacity: 0.6;
  }
}
